: {
root /home/rtorrent/www/
        basicauth / user pass
        filemanager /rtdl {
            show /home/rtorrent/rtdl
            user:
            allow_commands true
            allow_command  rm
            allow_command  mv
            allow          dotfiles
}
        tls self_signed
        markdown
        gzip
        fastcgi / /run/php/php7.0-fpm.sock php
}
